<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/img/pokebola.png" />
    <title><%= titulo %></title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a class="register-link" href="/">
          <img src="../img/pikachu.png" alt="Pikachu" class="pikachu-icon" />
          <h1>Pokédex</h1>
        </a>
      </div>

      <nav>
        <a
          href="https://github.com/danielafarias/Pokedex-Node"
          target="_blank"
          rel="noreferrer"
        >
          <img src="../img/meowth.png" alt="Meowth" />
        </a>
        <a href="/register">
          <img src="../img/ovo.png" alt="ovo" />
        </a>
      </nav>
    </header>

    <main>
      <section class="details">
        <figure class="icons">
          <img class="pokemon-icon" src="../img/p1.png" alt="pokemon-icon" />
          <img class="pokemon-icon" src="../img/p2.png" alt="pokemon-icon" />
          <img class="pokemon-icon" src="../img/p3.png" alt="pokemon-icon" />
          <img class="pokemon-icon" src="../img/p4.png" alt="pokemon-icon" />
          <img class="pokemon-icon" src="../img/p5.png" alt="pokemon-icon" />
          <img class="pokemon-icon" src="../img/p6.png" alt="pokemon-icon" />
          <img class="pokemon-icon" src="../img/p7.png" alt="pokemon-icon" />
          <img class="pokemon-icon" src="../img/p8.png" alt="pokemon-icon" />
        </figure>

        <h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-pokeball"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="9" cy="9" r="9" transform="translate(3 3)"></circle>
            <circle cx="12" cy="12" r="3"></circle>
            <path d="M3 12h6m6 0h6"></path>
          </svg>
          Detalhes do Pokemon
        </h2>

        <% pokemons.map ( obj => { %>
            <section class="details-card">
                <figure>
                    <img
                        src=<%= obj.imagem %>
                        alt="bulbasaur"
                        class="card-image"
                    />
                </figure>
              <article class="details-card-content">
                <div class="card-title">
                  <h2><%= obj.nome %></h2>
                  <h3>Nº<%= obj.numero %></h3>
                </div>
                <div class="card-description">
                    <p><%= obj.descricao %></p>
                  </div>
                <div class="card-type">
                  <p><%= obj.tipo %></p>
                </div>
                <div class="card-infos">
                    <div>
                        <h4>Altura:</h4>
                        <p><%= obj.altura %>m</p>
                    </div>
                    <div>
                        <h4>Peso:</h4>
                        <p><%= obj.peso %>kg</p>
                    </div>
                    <div>
                        <h4>Categoria:</h4>
                        <p><%= obj.categoria %></p>
                    </div>
                    <div>
                        <h4>Habilidade:</h4>
                        <p><%= obj.habilidade %></p>
                    </div>
                </div>
              </article>
            </section>
            <% }) %>
        <figure class="icons">
          <img class="pokemon-icon" src="../img/p9.png" alt="pokemon-icon" />
          <img class="pokemon-icon" src="../img/p10.png" alt="pokemon-icon" />
          <img class="pokemon-icon" src="../img/p11.png" alt="pokemon-icon" />
          <img class="pokemon-icon" src="../img/p12.png" alt="pokemon-icon" />
          <img class="pokemon-icon" src="../img/p13.png" alt="pokemon-icon" />
          <img class="pokemon-icon" src="../img/p14.png" alt="pokemon-icon" />
          <img class="pokemon-icon" src="../img/p15.png" alt="pokemon-icon" />
          <img class="pokemon-icon" src="../img/p16.png" alt="pokemon-icon" />
        </figure>
      </section>
    </main>

    <footer>
      <small>
        &copy; Ícones feitos por
        <a
          href="https://www.flaticon.com/br/autores/roundicons-freebies"
          target="_blank"
          rel="noreferrer"
          title="Roundicons Freebies"
        >
          Roundicons Freebies
        </a>
        from
        <a
          href="https://www.flaticon.com/br/"
          title="Flaticon"
          target="_blank"
          rel="noreferrer"
        >
          www.flaticon.com
        </a>
        | e por
        <a
          href="https://heroicons.com/"
          title="Heroicons"
          target="_blank"
          rel="noreferrer"
        >
          Heroicons
        </a>
        e
        <a
          href="https://tabler-icons.io/"
          title="Tabler icons"
          target="_blank"
          rel="noreferrer"
        >
          Tabler icons
        </a>
      </small>
    </footer>
  </body>
</html>
